body{
    /* height: 100vh;
    width: 100vw; */
    color: #fff;
    background-color: #333;
}

h1{
    text-align: center;
}

nav.navbar{
    /* margin-bottom: 2rem;     */
}

nav.navbar a {
    color: #bbb;
    transition-property: hover;
    transition: 400ms;
    border-bottom: 1px solid transparent;
    padding-inline: 0 ;
    padding-bottom: 1px;
    margin-inline: 40px;
}

nav.navbar a:hover{
    transition: 600ms;
    color: #fff;
    border-bottom: 1px solid #fff;

}

section#introducao{
    height: 400px;
    background-color: #41004114;
    margin-bottom: 5rem;
}

div.row{
   margin: 0;
}