.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    opacity: 0;
    transition: 350ms;
    border-radius: var(--bs-border-radius);
}

.overlay:hover {
    opacity: 1;
    background: #00000090;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 20px 8px #7a7a7abf;
}

a{
    color: transparent;
}


div.card{
    background-color: transparent !important;
}

p.card-text {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    p.card-text {
        font-size: 10px;
    }
}