div.card {
    margin-bottom: 1rem;
    background-color: #222 !important;
    border: #222 1.5px solid;
    cursor: pointer;

    img {
        width: 100%;
        background-color: black;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 300ms;
        background: #00000040;
        border: 1px solid transparent;
        border-radius: var(--bs-border-radius);
        padding: 1rem;

        &:hover{
            background: transparent;
            border-color: #7132b9;
            box-shadow: 0px 0px 20px 8px #7a7a7abf;
        }

        .overlay-content{
            border-radius: var(--bs-border-radius);
            backdrop-filter: blur(5px);  
            background-color: #000000b6;

            .btn-custom{
                background-color: #7132b9b0;
                color: #fff;
                &:hover{
                    background-color: #7132b9;
                }
            }
        }
    }
}


a {
    color: transparent;
}

p.card-text {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .overlay {
        padding: 0.4rem;
    }

    p.card-text {
        font-size: 10px;
    }

    h5.card-title {
        font-size: 1.2rem;
    }
}
