section#experiencia {
    background-color: black;
  
    h3 {
      font-size: 2rem;
    }
  
    span {
      color: #7132b9;
    }
  }
  
  .timeline-container {
    padding: 20px;
    margin: 0 auto;
  
    .timeline {
      position: relative;
      padding: 40px 0;
  
      .card-body {
        background-color: #222;
  
        h5 {
          color: #7132b9;
        }
  
        transition: 300ms;
  
        &:hover {
          transform: translate(0, -10px);
        }
      }
  
      &-line {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: #7132b9;
        transform: translateX(-50%);
        z-index: 1;
      }
  
      &-item {
        position: relative;
        margin-bottom: 60px;
        display: flex;
        justify-content: flex-start;
        text-align: justify;
  
        &.left {
          justify-content: flex-start;
  
          .timeline-content {
            margin-right: auto;
            margin-left: 60px;
          }
  
          .timeline-dot {
            left: 50%;
            transform: translateX(-50%);
          }
        }
  
        &.right {
          justify-content: flex-end;
  
          .timeline-content {
            margin-left: auto;
            margin-right: 60px;
          }
  
          .timeline-dot {
            right: 50%;
            transform: translateX(50%);
          }
        }
  
        &:has(.timeline-content:hover) {
          .timeline-dot {
            width: 40px;
            height: 40px;
            margin-top: -10px;
            background-color: #fff;
          }
        }
      }
  
      &-content {
        width: 45%;
        position: relative;
        z-index: 2;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
  
      &-dot {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #000;
        border: 4px solid #7132b9;
        z-index: 3;
        top: 50%;
        transition: 300ms;
      }
    }
  }
  
  @media (max-width: 992px) {
    .timeline-container {
      .timeline {
        &-line {
          left: 22px;
        }
  
        &-item {
          &.left,
          &.right {
            justify-content: flex-end;
  
            .timeline-content {
              width: 85%;
              margin-left: 60px;
              margin-right: 0;
            }
  
            .timeline-dot {
              left: 10px;
              transform: none;
            }
          }
  
          &:has(.timeline-content:hover) {
            .timeline-dot {
              width: 25px;
              height: 25px;
              margin-top: 0;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
  