
section#header{
    background-image: url(../../Images/header-bg.jpg);
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

svg{
    max-width:4vw ;
    margin-top: 2rem;
    margin-inline:10px;
    fill: rgb(255, 255, 255);
    transition: 0.5s;
    border: 1px solid transparent;
    padding: 10px;
}

svg:hover{
    fill: #bf00ff;
}

section#header div{
    margin-block: 100px;
    max-width: 60vw;
    /* max-height: 75vh; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;

    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #bf00ff2f;
    background-color: #000000da;
}

section#header div h3::before {
    content: "{ ";
}

section#header div h3::after {
    content: " }";
}

section#header div span{
    color: #bf00ff;
}

section#header h1, section#header h3,section#header p{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

section#header p{
    font-size: 20px;
    margin-top: 2rem;
}

section#header h1{
    font-size: 48px;
}