section#header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  background-color: transparent;
}

#particulas{ 
    z-index: -1;
}

.svg-group {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

section#header div.div-content {
  padding-block: 5vh;
  max-width: 60vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-inline: 1rem;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px #7132b92f;
  background-color: #00000067;
  transition: 1s;
}

section#header div.div-content:hover {
  box-shadow: 0px 0px 50px 5px #7132b950;
  background-color: #000000bc;
}

section#header div.div-content h3::before {
  content: "{ ";
}

section#header div.div-content h3::after {
  content: " }";
}

section#header div.div-content span {
  color: #7132b9;
}

section#header h2,
section#header h3,
section#header p {
  text-align: center;
}

section#header p {
  text-align: center;
  font-size: 20px;
  padding-inline: 3rem;
}

section#header h2 {
  font-size: 48px;
}

section#header h3 {
  margin-block: 2.5rem;
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  section#header div.div-content {
    max-width: 80vw;
  }

  section#header h2 {
    font-size: 36px;
  }

  section#header h3 {
    font-size: 24px;
  }

  section#header p {
    font-size: 18px;
    padding: 0;
  }
}

@media (max-width: 412px) {
  section#header div.div-content {
    max-width: 90vw;
  }
  section#header h3 {
    font-size: 20px;
  }

  section#header p {
    font-size: 16px;
  }
}
