nav.navbar-style {
    background: #0e0e0e;
    color: white;

    h1.navbar-brand {
        font-family: "Kode Mono", monospace;
        font-size: 34px;
        background-image: linear-gradient(
            to right bottom,
            #7132b9,
            #7132b950,
            #7132b9
        );
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-size: 200% 200%;
        padding: 0;
        margin-inline: 40px;
        margin-bottom: 0;
        transition: ease;
        cursor: default;

        &:hover {
            animation: gradienteAnimacao 1.5s ease;
        }

        a {
            text-decoration: none;
        }
    }

    div.collapse,
    div.collapsing {
        transition: 300ms ease-in-out; // controla a duração

        .link-react {
            padding-block: 0px;
            margin-inline: 40px;
            font-size: 18px;
            color: #666;
            transition: transparent 600ms;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                transition: 600ms;
                color: #fff;
                border-color: #fff;
            }

            &:focus {
                transition: 600ms;
                color: #7132b9;
                border-bottom-color: none;
            }
        }
    }
}

@keyframes gradienteAnimacao {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}
