section#sobreMim {
    background-color: #000;

    h3 {
        color: #7132b9;
    }


    p {
        text-align: justify;
    }

    .div-imagem {
        perspective: 5000px;

        img.perfil-imagem {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            filter: brightness(0.8) contrast(1.1) grayscale(0.25) saturate(1.25);
            transition: filter 1s ease, transform 1s;
        }

        img.perfil-imagem:hover {
            filter: brightness(0.9) contrast(1.1) grayscale(0.25) saturate(1)
                drop-shadow(0px -5px 15px #7132b9);
            transition: filter 750ms ease, transform 150ms;
        }
    }
}
